.Row {
  padding: 20px;
  color: #fff;

  /* line-height: 0.1; */
}

.Posters {
  display: flex;
  /* background-color: darkblue; */
  /* height: 200px; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.Posters::-webkit-scrollbar {
  display: none;
}

.Poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin: 8px;
  transition: transform 0.5s;
  cursor: pointer;
}

.LargePoster {
  max-height: 240px;
}
.Poster:hover {
  transform: scale(1.08);
}
